{% extends 'events/event_base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <!-- Registration Form -->
    <div class="wrapper">
        <div class="form__container">
            <h2>Application Form</h2>
            <form action="{% url 'apply' %}" method="post">
                {% csrf_token %}
                <div class="form-container" style="
                display: flex;
                flex-direction: column;
                gap: 15px;">
                    {{ form|crispy }}
                </div>
                <!-- Submit Button -->
                <button type="submit" style="
                width: 100%;
                padding: 10px;
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;">
                    Submit
                </button>
            </form>
        </div>
    </div>
    <style>
        .form__container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .form-container input, .form-container select, .form-container textarea {
            width: 100%;
            padding: 10px;
            margin: 5px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .form-container input:focus, .form-container select:focus, .form-container textarea:focus {
            border-color: #4CAF50;
            outline: none;
        }
    </style>
<script>
    
</script>

{% endblock content %}