{% extends 'events/event_base.html' %}
{% load static %}

{% block content %}
    <!-- Content -->
    <div class="wrapper">
        <div class="program__container">
            <!-- Main Program Schedule -->
            <h1>Program</h1>
            <div class="schedule">
                <!-- Day 1 -->
                <div class="day">
                    <h2>14th of May 2025<br>Wednesday</h2>
                    <div class="session"><span><strong>9:00 - 10:00</strong></span><p>Arrival and Registration</p></div>
                    <div class="session"><span><strong>10:00 - 10:30</strong></span><p>Opening Speeches</p></div>
                    <div class="session"><span><strong>10:30 - 11:00</strong></span><p>Ice Breaking Activity</p></div>
                    <div class="session"><span><strong>11:30 - 12:00</strong></span><p>Program Introduction</p></div>
                    <div class="session"><span><strong>12:00 - 13:00</strong></span><p>Panel Discussion</p></div>
                    <div class="session"><span><strong>13:00 - 14:00</strong></span><p>Lunch</p></div>
                    <div class="session"><span><strong>14:10 - 15:40</strong></span><p>Training</p></div>
                    <div class="session"><span><strong>16:00 - 17:00</strong></span><p>Intergenerational Exchange</p></div>
                </div>
    
                <!-- Day 2 -->
                <div class="day">
                    <h2>15th of May 2025<br>Thursday</h2>
                    <div class="session"><span><strong>9:00 - 9:30</strong></span><p>Arrival and Welcome</p></div>
                    <div class="session"><span><strong>9:30 - 11:30</strong></span><p>Session 1</p></div>
                    <div class="session"><span><strong>11:30 - 13:00</strong></span><p>Lunch</p></div>
                    <div class="session"><span><strong>13:10 - 15:10</strong></span><p>Session 2</p></div>
                    <div class="session"><span><strong>15:30 - 17:30</strong></span><p>Session 3</p></div>
                    <div class="session"><span><strong>17:30</strong></span><p>Meet and Greet</p></div>
                </div>
    
                <!-- Day 3 -->
                <div class="day">
                    <h2>16th of May 2025<br>Friday</h2>
                    <div class="session"><span><strong>9:00</strong></span><p>Arrival and Welcome</p></div>
                    <div class="session"><span><strong>9:00 - 10:00</strong></span><p>Final Document</p></div>
                    <div class="session"><span><strong>10:00 - 10:30</strong></span><p>Break</p></div>
                    <div class="session"><span><strong>10:30 - 11:30</strong></span><p>Closing Ceremony</p></div>
                    <div class="session"><span><strong>11:30 - 12:00</strong></span><p>Feedback</p></div>
                    <div class="session"><span><strong>12:00 - 13:00</strong></span><p>Lunch</p></div>
                    <div class="session"><span><strong>13:00</strong></span><p>Time to Explore The Hague</p></div>
                </div>
            </div>
    
            <br>
    
            <!-- Roundtables on May 15th -->
            <h1>Program for the Roundtables on May 15th</h1>
            <div class="schedule">
                <!-- Session 1 -->
                <div class="day">
                    <h2>Session 1<br>Minority Inclusion in Diplomacy<br>(9:30 - 11:30)</h2>
                    <div class="session"><p>Refugee Youth</p></div>
                    <div class="session"><p>Women and Intersectionality</p></div>
                    <div class="session"><p>Sexual Minority Youth</p></div>
                    <div class="session"><p>Religious Minority Youth</p></div>
                    <div class="session"><p>Indigenous Youth</p></div>
                    <div class="session"><p>Youth and Disability</p></div>
                </div>
    
                <!-- Session 2 -->
                <div class="day">
                    <h2>Session 2<br>Digital Age and Democracy<br>(13:00 - 15:00)</h2>
                    <div class="session"><p>Intergenerational AI Dialogue</p></div>
                    <div class="session"><p>Digital Democracy</p></div>
                    <div class="session"><p>Youth and Social Movement</p></div>
                    <div class="session"><p>Youth in the Age of Authoritarianism, Populism, and Illiberalism</p></div>
                    <div class="session"><p>Youth and Conflicts (Palestine-Israel)</p></div>
                    <div class="session"><p>Youth and Conflicts (Ukraine, Russia, Iran & Afghanistan)</p></div>
                </div>
    
                <!-- Session 3 -->
                <div class="day">
                    <h2>Session 3<br>Economic and Climate Crisis for Youth<br>(15:30 - 17:30)</h2>
                    <div class="session"><p>Youth Employment & Economic Rights</p></div>
                    <div class="session"><p>Inclusion of Youth Voices in Institutions and Politics</p></div>
                    <div class="session"><p>Education and Awareness: Including Youth to Climate Movement</p></div>
                    <div class="session"><p>The Climate-Economy Nexus: Youth-led Solutions for a Sustainable Future</p></div>
                    <div class="session"><p>Policy Advocacy and Youth Engagement</p></div>
                </div>
            </div>
    
            <p class="note">Note: There will be a 15-minute break in each session.</p>
        </div>
    </div>

{% endblock content %}